---
import BaseLayout from "../layouts/BaseLayout.astro";

import Container from "../components/Container.astro";

import data from "../data/data.json";
const { crew } = data;

const {
  images: { png, webp },
  name,
} = crew[0];
---

<BaseLayout title="Crew" urlActive="/crew">
  <Container className="pt-[100px]">
    <div class="crew mx-auto" aria-describedby="crew-heading">
      <h1
        id="crew-heading"
        class="crew__title text-preset-5 flex flex-row items-center justify-center md:justify-start gap-4 uppercase mb-6"
      >
        <span class="color-aluminium">02</span> Meet your crew
      </h1>
      <section class="crew-information" role="region">
        <div class="slides-container">
          <div
            class="crew-details slides"
            role="group"
            aria-live="polite"
            aria-atomic="true"
            aria-roledescription="carousel"
            aria-label="Crew slideshow"
          >
            {
              crew.map(({ name, role, bio }, idx) => (
                <article
                  id={`slide${idx}`}
                  class={`slide slide-${idx} ${idx === 0 ? "visible" : ""}`}
                  role="group"
                  aria-roledescription="slide"
                  aria-label={`${role}: ${name}`}
                  aria-hidden={idx > 0 ? "true" : "false"}
                >
                  <h1 class="crew-details__title text-preset-4 uppercase color-aluminium">
                    {role}
                  </h1>

                  <h2 class="crew-details__subtitle text-preset-3 uppercase">
                    {name}
                  </h2>
                  <p class="crew-details__description color-blue-300 text-preset-9">
                    {bio}
                  </p>
                </article>
              ))
            }
          </div>

          <nav
            class="slide-indicators flex justify-center gap-4 mt-22 mb-8"
            aria-label="Slide navigation"
          >
            {
              crew.map((_, idx) => (
                <button
                  type="button"
                  class="dot"
                  id={`dot${idx}`}
                  aria-label={`Go to slide ${idx + 1}`}
                  aria-current={idx === 0 ? "true" : "false"}
                >
                  <span class="sr-only">{`Go to slide ${idx + 1}`}</span>
                </button>
              ))
            }
          </nav>
        </div>

        <div class="crew-picture mask-bottom-fade">
          <picture id="crewImage" class="crew-image">
            <source id="crewImageWebp" src={webp} type="image/webp" />
            <img id="crewImageFallback" src={png} alt={`Portrait of ${name}`} />
          </picture>
        </div>
      </section>
    </div>

    <script type="module" define:vars={{ crew }}>
      import { initializeSlides } from "./scripts/slides.js";

      (() => {
        initializeSlides({ data: crew, isCrew: true });
      })();
    </script>
  </Container>
</BaseLayout>

<style>
  body {
    background-image: url("./assets/crew/background-crew-mobile.jpg");
  }

  .crew__title {
    text-align: center;
  }

  .slide {
    gap: 10px;
  }

  .slide *:nth-child(3) {
    margin-top: 24px;
    text-align: center;
  }

  .crew-picture {
    width: 100%;
    max-width: 539px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-inline: auto;
  }

  .crew-image {
    width: 271px;
    height: 340px;
    aspect-ratio: 271 / 340;
    object-fit: contain;
  }

  .dot {
    width: 12px;
    height: 12px;
    border-radius: 9999px;
    background-color: #888;
    border: none;
    cursor: pointer;
  }

  .dot[aria-current="true"] {
    background-color: #fff;
  }

  @media screen and (min-width: 48em) {
    body {
      background-image: url("./assets/crew/background-crew-tablet.jpg");
    }

    .crew {
      max-width: 688px;
    }

    .crew-image {
      width: 446px;
      height: 560px;
      aspect-ratio: 446 / 560;
    }
  }

  @media screen and (min-width: 65em) {
    body {
      background-image: url("./assets/crew/background-crew-desktop.jpg");
    }

    .crew {
      max-width: 1110px;
    }

    .crew-information {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    .slide {
      align-items: self-start;
    }

    .slide *:nth-child(3) {
      text-align: left;
    }

    .crew-picture,
    .crew-details {
      flex: 1;
    }

    .slide-indicators {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
</style>
