---
import BaseLayout from "../layouts/BaseLayout.astro";

import Container from "../components/Container.astro";

import data from "../data/data.json";
const { technology } = data;
const {
  images: { portrait, landscape },
  name,
} = technology[0];
---

<BaseLayout title="Technology" urlActive="/technology">
  <Container className="pt-[100px]">
    <div class="technology mx-auto" aria-describedby="technology-heading">
      <h1
        id="technology-heading"
        class="technology__title text-preset-5 flex flex-row items-center justify-center md:justify-start gap-4 uppercase mb-6"
      >
        <span class="color-aluminium">03</span> Space launch 101
      </h1>
      <section class="technology-information" role="region">
        <div class="technology-picture">
          <picture>
            <source
              id="technologyPictureSrcset"
              media="(min-width: 769px)"
              srcset={landscape}
            />
            <img id="technologyPictureSrc" src={portrait} alt={`${name}`} />
          </picture>
        </div>
        <div class="technology-details" role="region">
          <nav
            class="slide-indicators flex justify-center gap-5"
            aria-label="Slide navigation"
          >
            {
              technology.map((_, idx) => (
                <button
                  type="button"
                  class="dot text-preset-4"
                  id={`dot${idx}`}
                  aria-label={`Go to slide ${idx + 1}`}
                  aria-current={idx === 0 ? "true" : "false"}
                >
                  {idx + 1}
                </button>
              ))
            }
          </nav>

          <div
            class="technology-contain slides"
            role="group"
            aria-live="polite"
            aria-atomic="true"
            aria-roledescription="carousel"
            aria-label="Technology slideshow"
          >
            {
              technology.map(({ name, description }, idx) => (
                <article
                  id={`slide${idx}`}
                  class={`slide slide-${idx}`}
                  role="group"
                  aria-roledescription="slide"
                  aria-label={`${name}`}
                  aria-hidden={idx > 0 ? "true" : "false"}
                  hidden={idx > 0}
                >
                  <h2 class="technology-details__title text-preset-4 uppercase color-aluminium">
                    THE TERMINOLOGY…
                  </h2>

                  <h3 class="technology-details__subtitle text-preset-3 uppercase">
                    {name}
                  </h3>
                  <p class="technology-details__description color-blue-300 text-preset-9">
                    {description}
                  </p>
                </article>
              ))
            }
          </div>
        </div>
      </section>
    </div>
    <script type="module" define:vars={{ technology }}>
      import { initializeSlides } from "./scripts/slides.js";

      (() => {
        initializeSlides({ data: technology, isTechnology: true });
      })();
    </script>
  </Container>
</BaseLayout>

<style>
  body {
    background-image: url("./assets/technology/background-technology-mobile.jpg");
  }

  .technology-information {
    margin-top: 110px;
  }

  .technology-picture img {
    height: 258px;
    width: 100%;
    transform: scale(1.13);
    overflow: hidden;
    object-fit: cover;
  }

  .technology__title {
    text-align: center;
  }

  .slide-indicators {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .slide *:nth-child(3) {
    text-align: center;
  }

  .dot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-white);
    background-color: var(--clr-blue-900);
    width: 40px;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 9999px;
    border: 1px solid var(--clr-stroke);
    cursor: pointer;
  }

  .dot[aria-current="true"] {
    color: var(--clr-blue-900);
    background-color: var(--clr-white);
    border-color: var(--clr-white);
  }

  @media screen and (min-width: 48em) {
    body {
      background-image: url("./assets/technology/background-technology-tablet.jpg");
    }

    .technology-picture img {
      height: 356px;
    }

    .dot {
      width: 56px;
    }

    .slide-indicators {
      margin-top: 60px;
      margin-bottom: 50px;
    }
  }

  @media screen and (min-width: 74.375em) {
    body {
      background-image: url("./assets/technology/background-technology-desktop.jpg");
    }

    .technology-picture img {
      height: 600px;
    }

    .dot {
      width: 80px;
    }

    .technology-information,
    .technology-details {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }

    .slide {
      align-items: flex-start;
      width: 491px;
    }

    .slide *:nth-child(3) {
      text-align: left;
    }

    .slide-indicators {
      flex-direction: column;
      gap: 40px;
    }

    .technology-picture {
      order: 1;
      max-width: 608px;
      transform: translateX(40px);
    }

    .technology-picture img {
      transform: scale(1);
      contain: cover;
    }
  }
</style>
